<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quenho.pcp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TitlePage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".maps"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mirage"
            android:label="@string/title_activity_mirage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".inferno"
            android:label="@string/title_activity_inferno"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cache"
            android:label="@string/title_activity_cache"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>